/* Fonts */
/* Defining the Montserrat font using @font-face rule */
@font-face{
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Defining the BebasNeue font using @font-face rule */
@font-face{
    font-family: "BebasNeue";
    src: url('BebasNeue-Regular.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* General styles */
/* Style of the body of the document */
body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    background-color: #000000  /*setting the background color to black*/
}

/* Style for the navigation bar */
nav {
    position: fixed; /* Keeps the nav bar always on top */
    top: 0; /* Sticks it to the top of the page */
    width: 100%; /* Ensures the nav bar takes up the full width */
    z-index: 1000; /* Ensures the nav bar is always on top of other elements */
    padding:15px 0;
    box-sizing: border-box;
    background-color: black;
}

/* Styling the unordered list inside nav */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: left;
    margin-left: 120px;
}
/* Styling each item in the nav */
nav ul li {
    margin: 0 15px;/* Horizontal space between items */
}
/* Styling texts (links) inside nav */
nav ul li a {
    color: white;/*setting the text color to be white*/
    text-decoration: none; 
}

/* General section styles */
section {
    margin-top: 100px;
    padding-left: 30px; /* Adds 20px of space on the left side of all sections */
    padding-right: 30px;
}
/* Specific style for the 'rate' section */
section. rate{
    margin-top: 200px
}


/*LANDING PAGE (style for index.html)*/

/* Title section styles */
.title {
    position: relative;
    height: 100vh;
    background-image: url('realnyuad.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}
/* Dark overlay on the title background */
.title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% transparency */
    z-index: -1; /* Behind the content but above the background image */
}
/* Heading style within title */
.title h1{
    font-size: 100px;
    font-family: 'BebasNeue';
    margin-bottom:-250px;
    color: white;
    justify-content: center;
}
 /* SVG icon for the text path  */
 svg{ 
    transform: translateY(-50px);/* Shift icon upwards */
 }
/* Path inside SVG, with transparent fill */
path {
  fill: transparent;
}
/* Text inside SVG */
text{
    font-family: 'BebasNeue';
    font-size:80px;
    fill: #dc0001;/*Red color for text*/
}

/* Button style and positioning for 'Learn More' button */
.learn-more-btn {
    display: inline-block;
    padding: 20px 40px;
    background-color: #FF9800; 
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px; 
    position: relative;
    top: -30px; 
    transition: background-color 0.3s ease;
}

/* Hover effect for 'Learn More' button */
.learn-more-btn:hover {
    background-color: #e67e22; /* Darker shade for hover effect */
}

/* RATE PAGE (rate.html) */

/* Rating section */
.rating {
    margin: 20px 0;
}
/* design of a single star for the rating */
.star {
    font-size: 180px; /* star size */
    cursor: pointer;
    color: lightgray; /* Default color for unselected stars */
}
/* design when the star is selected */
.star.active {
    color: gold; /* Color for selected stars */
}

/* Centering stars within rating section */
.stars {
    text-align: center; /* Centers the stars */
    margin-bottom: 10px; /* Added margin below stars for separation */
}
/* Style for star spans */
.stars span {
    color: gray;
    transition: color 0.2s;
    margin: 0 20px; /* Horizontal space between stars */
}
/* Style for active star spans */
.stars span.active {
    color: gold; /* Color the selected stars */
}


/* Comment section */
/* Comment section - Textarea */
textarea {
    width: 70%; /* Set width for textarea */
    height: 100px; 
    padding: 10px;
    margin: 10px auto 0;
    background-color: #eaeaea;
    border-radius: 5px;
    box-sizing: border-box; 
    display: block; /* Ensures textarea is block-level for centering */
}

/* Submit button */
/* Submit button aligned to the right using margin */
button {
    margin: 15px 200px 0 auto;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px
    cursor: pointer;
    display: block; 
}


/* Rating Wrapper Section (wrapper around the rating section)*/
.rating-wrapper {
    margin-down: 100px;
    width: 80%; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: #f5f5f5;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

/* Rating section */
.rating {
    margin: 20px 0; 
    text-align: center; /* Center the rating inside the wrapper */
}

/* Other people's Opinions section */
/* Container for the opinions */
.opinions-container {
    width: 70%; 
    margin: 25px auto;
    max-height: 300px; 
    overflow-y: auto; 
    padding: 15px; 
    background-color: white;
    border-radius: 5px; 
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); 
}

/* Individual opinion box */
.opinion-item {
    width: 90%; 
    margin: 0 auto 15px; 
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
}
/* Style for opinion names */
.opinion-item h4 {
    margin: 0;
    font-weight: bold;
    margin-bottom: 5px; /* Space between name and comment */
}
/* Style for opinion comments */
.opinion-item p {
    margin: 5px 0;
}



/* ABOUT THE FILM PAGE */

/* Styling for the background section */
.background-section {
    position: relative;
    height: 100vh;
    background-image: url('cover.jpeg'); /* Ensure correct image path */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers the text vertically */
    align-items: flex-start; /* Centers the text horizontally */
    padding: 20px;
    z-index:1;
}
/*Gradient transparent black overlay for the background*/
.background-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); /* Horizontal black gradient */
    z-index: -1; /* Places it behind the content */
}

/* Styling for the text content*/
.text-section {
    color: white; /* letting the text color to be white */
    text-align: left; /* Center the text */
    margin-left: 120px;
}

/* heading text style */ 
.text-section h2 {
    font-size: 48px;   
    margin-bottom: 20px;
}

/* paragraph text style */ 
.text-section p {
    font-size: 24px; /* Adjust font size */
    margin-bottom: 30px;
    width: 800px;

}


/* Styling for Watch Now Button */
.watch-now-btn {
    display: inline-block;
    background-color: #e50914; /*red */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    transition: background-color 0.3s;
}

/* Hover effect for the "Watch Now" button */
.watch-now-btn:hover {
    background-color: #b00610; /* Darker red on hover */
}

/*VIDEO PAGE*/
/* Styling for the main container that holds the video and logo */
.big-square {
    position: relative;
    width: 80%;
    margin: 40px auto 20px auto;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for the logo image */
.logo-image {
    width: 300px; /* Adjust the width of the logo */
    height: auto; /* Maintain the aspect ratio of the logo */
    display: block;
    margin-bottom: -100px; /* Space between the logo and the video */
}
/* Container for the video */
.video-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Styling for the video element */
.video-container video {
    width: 80%; /* Adjust video width */
    height: 60vh;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}




/* NEXT AND PREVIOUS BUTTONS*/
/* General styling for toggle buttons (next and previous) */
.toggle-btn {
    background-color: #333;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    margin: 0 -60px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}
/* Hover effect for toggle buttons */
.toggle-btn:hover {
    background-color: #555;
}

.toggle-photo {
    margin-top: -400px;
}

/* Previous button with arrow style */
.prev-btn {
    position: absolute;
    left: 10px; /* Position the previous button to the left of the video */
    color: transparent;
    display: block;
    width: 6rem;
    height: 6rem;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 150ms ease-out;
    cursor: pointer;
}
/* Creating the arrow for the previous button*/
.prev-btn::before,
.prev-btn::after {
    content: "";
    display: block;
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    background-color: #606060;
    transition: all 150ms ease-out;
}

/* Horizontal part of the arrow */
.prev-btn::before {
    width: 75%;
    height: 25%;
}
/* Vertical part of the arrow */
.prev-btn::after {
    width: 25%;
    height: 75%;
}
/* Hover effect for the previous button */
.prev-btn:hover {
    background-color: rgba(0, 0, 0, .1);
}
/* Hover effect for the arrow in the previous button */
.prev-btn:hover::before,
.prev-btn:hover::after {
    background-color: #404040;
}
/* Rotates the previous button to create a left-pointing arrow */
.prev-btn {
    transform: rotate(-45deg); /* Arrow pointing left */
}

/* Next button with arrow style */
.next-btn {
    position: absolute;
    right: 10px; /* Position the next button to the right of the video */
    color: transparent;
    display: block;
    width: 6rem;
    height: 6rem;
    background-color: rgba(0, 0, 0, .05);
    transition: all 150ms ease-out;
    cursor: pointer;
}
/* Creating the arrow for the next button */
.next-btn::before,
.next-btn::after {
    content: "";
    display: block;
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    background-color: #606060;
    transition: all 150ms ease-out;
}
/* Horizontal part of the arrow */
.next-btn::before {
    width: 75%;
    height: 25%;
}
/* Vertical part of the arrow */
.next-btn::after {
    width: 25%;
    height: 75%;
}
/* Hover effect for the next button */
.next-btn:hover {
    background-color: rgba(0, 0, 0, .1);
}
/* Hover effect for the arrow in the next button */
.next-btn:hover::before,
.next-btn:hover::after {
    background-color: #404040;
}
/* Rotates the next button to create a right-pointing arrow */
.next-btn {
    transform: rotate(135deg); /* Arrow pointing right */
}


/* General styling for all h2 (heading 2) elements */

h2 {
    margin-bottom: -50px;
    font-size: 50px;
    text-align: center;
    padding-top: 80px;; 
    color: white;
}
/* Specific styling for h2 elements with the class "left-align" */
h2.left-align {
    text-align: left; /* Left align only for this class */
}
/* Specific styling for h2 elements with the class "rate" */
h2.rate{
    color: black;
}

/* General styling for all h3 (heading 3) elements */
h3 {
    font-size: 24px;
    color: black;
    margin-top: 20px;
    padding-top: 80px;; 
    text-align: center;
}

/* Specific styling for h3 elements with the class "left-align" */
h3.left-align{
    color:#ff8000 ;
    text-align: left;
    margin-top: -80px;
}
/* Specific styling for h3 elements with the class "rate" */
h3.rate{
    font-size: 50px;
}

/*PHOTOS PAGE */
/* Styling for the photo gallery container */
.photo-gallery {
    display: flex;
    overflow-x: scroll; /* Horizontal scrolling */
    padding: 10px;
    gap: 10px; /* Adds spacing between the images */
    scrollbar-width: thin; /* For Firefox to make scrollbar thin */
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;

}

/* Styling for images inside the photo gallery */
.photo-gallery img {
    height: auto; /* Set the height of each image */
    max-height:700px;
    width: auto;
    object-fit: cover; /* Ensures the images are nicely cropped */
    border-radius: 10px; /* Optional: Adds rounded corners to images */
}

/* Styling for scrollbar */
.photo-gallery::-webkit-scrollbar {
    height: 8px;
}

/* Styling for the scrollbar thumb (the draggable part) */
.photo-gallery::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 10px;
}
/* Hover effect for the scrollbar thumb */
.photo-gallery::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color when hovered */
}


/*CAST AND CREW PAGE*/
/* Container for the cast and crew section */
.cast-crew-container {
    text-align: center;
    padding-top: 100px;
}
/* Styling for the heading inside the cast and crew container */
.cast-crew-container h2 {
    margin-bottom: 5px; 
    font-size: 28px;
    padding: 0; 
    color: white;
}

/* Container for the cast and crew members */
.cast-crew {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 100px; 
    padding: 20px; 

}
/* Styling for individual cast members */
.cast-member {
    text-align: center;
    cursor: pointer;
}
/* Styling for the cast member images */
.cast-member img {
    margin-top: 50px;
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
}

/* Hover effect for the cast member images */
.cast-member img:hover {
    transform: scale(1.1);  /* Scales the image up by 10% on hover */
}
/* Styling for the cast member names */
.cast-member h3 {
    margin-top: 10px;
    color: white;
}


/* MODAL STYLES*/
/* Base modal styling (hidden by default) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Black background with transparency */
}

/* Styling for the modal content box */
.modal-content {
    background-color: white;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px;
    border-radius: 10px;
    position: relative;
}
/* Styling for the modal heading */
.modal-content h2 {
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold;
    color: #333; /* Text color */
    margin-bottom: 15px; /* Space between the heading and content */
}
/* Styling for the close button inside the modal */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}
/* Hover and focus effects for the close button */
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
} 